
<footer class="kilimanjaro_area">
  <!-- Top Footer Area Start -->
  <div class="foo_top_header_one section_padding_100_70">
      <div class="container">
          <div class="row">
              <div class="col-12 col-md-6 col-lg-3">
                  <div class="kilimanjaro_part">
                      <h5>About Us</h5>
                      <p>We provides rich products & materials. Our Marketing & delivery based on customer satisfaction and time management through earliest delivery. You can go through our website for better acknowledgement.</p>
                      <p>Get an extra 10% off your first purchase and keep up with our latest drops, special editions and members-only sales.</p>
                  </div>
              </div>
              <div class="col-12 col-md-6 col-lg-3">
                  <div class="kilimanjaro_part">
                    <h5>Important Links</h5>
                    <ul class="kilimanjaro_links">
                      <li><a href="#">Mobiles</a></li>
                      <li><a href="#">Men's wear</a></li>
                      <li><a href="#">Women's wear</a></li>
                      <li><a href="#">Laptop</a></li>
                      <li><a href="#">Watch</a></li>
                      <li><a href="#">Television</a></li>
                      <li><a href="#">Groceries</a></li>
                      <li><a href="#">Beauty Products</a></li>
                    </ul>
                  </div>

                  <div class="kilimanjaro_part m-top-15">
                      
                  </div>
              </div>
              <div class="col-12 col-md-6 col-lg-3">
                  <div class="kilimanjaro_part">
                      <h5>Trending Products</h5>
                      <div class="kilimanjaro_blog_area">
                          <div class="kilimanjaro_thumb">
          <img class="img-fluid" src="https://static1.industrybuying.com/products/it-electronics/audio/headphones/COR.EAR.55666136_1668198156370.webp" alt="">

                          </div>
                          <a href="#">Boat Airdopes 131</a>
                          <p>Wireless buds - provide better quality</p>
                      </div>
                      <div class="kilimanjaro_blog_area">
                          <div class="kilimanjaro_thumb">
          <img class="img-fluid" src="https://static.nike.com/a/images/t_PDP_1280_v1/f_auto,q_auto:eco/1eeaacc0-e07c-4024-a5f7-57f2fd23e8a2/air-max-270-g-golf-shoe-Z6vCfs.png" alt="">
                          </div>
                          <a href="#">Nike Shoes</a>
                          <p>Best shoes for Running</p>
                      </div>
                      <div class="kilimanjaro_blog_area">
                          <div class="kilimanjaro_thumb">
          <img class="img-fluid" src="https://th.bing.com/th/id/OIP.dITeL4W49ks3lKL3-NyRIAHaHa?w=176&h=180&c=7&r=0&o=5&dpr=1.3&pid=1.7" alt="">
                          </div>
                          <a href="#">Apple Watch Series 8</a>
                          <p>Iwatch series 8 for men and women both</p>
                      </div>
                  </div>
              </div>
              <div class="col-12 col-md-6 col-lg-3">
                  <div class="kilimanjaro_part">
                      <h5>Contact us</h5>
                      <div class="kilimanjaro_single_contact_info">
                          <h6>Phone</h6>
                          <p>+91 789 54 50 40 <br> +2555 766 90 94 00</p>
                      </div>
                      <div class="kilimanjaro_single_contact_info">
                          <h6>Email</h6>
                          <p>ecomm@website.com <br> bhavana2613@gmail.com</p>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
  <!-- Footer Bottom Area Start -->
  <div class=" kilimanjaro_bottom_header_one section_padding_50 text-center">
      <div class="container">
          <div class="row">
              <div class="col-12">
                  <p>© All Rights Reserved by <a href="#">Bhavana Patil<i class="fa fa-love"></i></a></p>
              </div>
          </div>
      </div>
  </div>
</footer>